<div class="content-container clr-row offset-bottom">
  <div class="clr-col-md-12 clr-col-12 clr-col-lg-12 title">
    <h4>OS Install</h4>
  </div>
  <div class='clr-col-md-12 clr-col-12 clr-col-lg-12 os-install-note'>
      The fields with * below are required!
  </div>
  <div class="clr-col-md-12 clr-col-12 clr-col-lg-12 bottom-gap">
    <dropdown-group [data]="selNodeStore" [fields]="['id']" [columns]="[4]" id="dropdown-group-0"
      [labels]="['Node']" [labelBold]="false" [fieldsRequired]="[true]" isDefaultForm="true"
      (selected)="onNodeSelect($event)" (cleared)="onReset()">
    </dropdown-group>
  </div>

  <div class="clr-col-sm-7 clr-col-md-7 clr-col-lg-7 form-padding-right">
    <div class="filter-by">
      <label class="filter-title">
        <b>Filter Node</b>
      </label>
      <section>
        <dropdown-group [data]="nodeStore" [fields]="filterFields" [labels]="filterLabels"
          [columns]="filterColumns" [labelBold]="false" marginTop="15px" id="dropdown-group-0"
          (selected)="onFilterSelect($event)" (cleared)="onFilterRefresh()">
        </dropdown-group>
      </section>
    </div>
  </div>

  <div class="clr-col-md-7 bottom-button">
    <button class="btn btn-primary" (click)="onReset()">Reset Filters</button>
  </div>

  <div class="clr-col-sm-7 clr-col-md-7 clr-col-lg-7 form-padding-right">
    <form clrForm [formGroup]="payloadForm">
      <section class="form-block my-form-block bottom-gap">
        <div class="clr-row">
          <div class="clr-col-sm-6">
              <clr-select-container class='form-control'>
                <label class="required label-one-line" [class.invalid]="formClassInvalid('osType')">
                  OS Type
                </label>
                <select clrSelect formControlName="osType" 
                class='form-padding'
                (change)="onChangeOsType($event.target.value)"
                >
                <option></option>
                <option *ngFor="let type of allOsTypes;">{{ type }}</option>
              </select>
              
            </clr-select-container>
          </div>
          <div class="clr-col-sm-6">
            <clr-select-container class='form-control'>
              <label class="required label-one-line" [class.invalid]="formClassInvalid('version')">
                Version
              </label>
              <select clrSelect formControlName="version" class='form-padding'>
                <option></option>
                <option *ngFor="let version of OS_TYPE_VERSION[payloadForm.value['osType']];">{{ version }}</option>
              </select>
            </clr-select-container>
          </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-sm-6">
            <clr-input-container class='form-control'>
              <label class="required label-one-line" [class.invalid]="formClassInvalid('rootPassword')">Root Password</label>
                <input clrInput type="text" formControlName="rootPassword">
            </clr-input-container>
          </div>
          <div class="clr-col-sm-6">
          <clr-select-container class='form-control'>
            <label class="label-one-line">Install Disk</label>
              <select clrSelect formControlName="installDisk">
                <option></option>
                <option *ngFor="let diskName of diskOptions;">
                  {{ diskName }}</option>
              </select>
          </clr-select-container>
        </div>
        </div>

        <div class="clr-row">
          <div class="clr-col-sm-10">
            <clr-input-container class='form-control'>
                <label class="required label-one-line">Repo URL</label>
                <input clrInput class="input-width" type="text" [placeholder]="selectedRepoPlaceHolder" formControlName="repoUrl">
            </clr-input-container>
          </div>
          <div aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation invalid tooltip-md input-width" [class.invalid]="formClassInvalid('repoUrl')">
              <span class="tooltip-content">
                The input repo url is invalid!
              </span>
          </div>
        </div>

        <div class="clr-row">
          <div class="clr-col-sm-6">
            <clr-select-container class='form-control'>
              <label class="label-one-line">Network Interface</label>
              <select clrSelect formControlName="networkDevice" (change)="onChangeNetworkDevice($event.target.value)">
                <option></option>
                <option *ngFor="let network of networkDeviceOptions;">
                  {{ network }}</option>
              </select>
            </clr-select-container>
          </div>
        </div>
      </section>

      <fieldset class="fieldset" [disabled]='!modifyDefaultSetting'>
        <legend [ngClass]="{'legend': true, 'disabled-label': !modifyDefaultSetting}">
          <b>Network Options</b>
        </legend>
        <section class="networkOptions">
          <div class="clr-row">
            <div class="clr-col-sm-6">
              <clr-input-container class='form-control'>
                <label class="required label-one-line" [ngClass]="{'disabled-label': !modifyDefaultSetting}">
                  IP Address
                </label>
                <!-- <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('ipAddress')"> -->
                  <input clrInput type="text" formControlName="ipAddress"/>
                <!-- </label> -->
              </clr-input-container>
            </div>
            <div class="clr-col-sm-6">
              <clr-input-container class='form-control'>
                <label class="label-one-line" [ngClass]="{'disabled-label': !modifyDefaultSetting}">
                  DNS Servers
                </label>
                <!-- <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('dnsServers')"> -->
                  <input clrInput type="text" formControlName="dnsServers" placeholder="8.8.8.8, 8.8.4.4" />
                <!-- </label> -->
              </clr-input-container>
            </div>
          </div>

          <div class="clr-row">
            <div class="clr-col-sm-6">
              <clr-input-container class='form-control'>
                <label class="required label-one-line" [ngClass]="{'disabled-label': !modifyDefaultSetting}">
                  Netmask
                </label>
                <!-- <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('netmask')"> -->
                  <input clrInput type="text" formControlName="netmask"/>
                <!-- </label> -->
            </clr-input-container>
            </div>
            <div class="clr-col-sm-6">
              <clr-input-container class='form-control'>
                <label class="required label-one-line" [ngClass]="{'disabled-label': !modifyDefaultSetting}" for="formFields_4">
                  Gateway
                </label>
                <!-- <label [ngClass]="{'tooltip tooltip-validation' : modifyDefaultSetting}" [class.invalid]="formClassInvalid('gateway')"> -->
                  <input clrInput type="text" id="formFields_4" formControlName="gateway" />
                <!-- </label> -->
              </clr-input-container>
            </div>
          </div>
        </section>
      </fieldset>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" [disabled]="!enableSavePayload" (click)="createPayload();">Generate Payload</button>
      </div>
    </form>
  </div>

  <div class="clr-col-sm-7 clr-col-md-7 clr-col-lg-7 form-padding-right">
    <label>
      <b>Payload:</b>
    </label>
    <div class="json-editor" #jsoneditor id="jsoneditor"></div>
    <div class="modal-footer offset-bottom">
      <button type="button" [disabled]="!enableOsinstall" class="btn btn-danger " (click)="onConfirmSubmited()" title="submit workflow">Submit</button>
    </div>
  </div>

  <clr-modal [(clrModalOpen)]="submitSuccess" [clrModalSize]="'xm'">
    <h3 class="modal-title">You have submitted an OS install workflow successfully.</h3>
  </clr-modal>

  <clr-modal [(clrModalOpen)]="confirmSubmited" [clrModalSize]="'xm'">
    <h3 class="modal-title">Are you sure to submit the workflow ?</h3>
    <div class="modal-footer">
      <button class="btn btn-outline" type="button" (click)="confirmSubmited = false">No</button>
      <button class="btn btn-primary" type="button" (click)="onSubmit()">Yes</button>
    </div>
  </clr-modal>

</div>
